<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!-- META COMPATIBILITE -->

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">

        <!-- TITLE / FAVICON -->

        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

    </head>
    <body>

    <!--=================================================-->
    <!--==========| N A V B A R |========================-->
    <!--=================================================-->

    <nav class="navbar navbar-expand-lg navbar-dark bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img class="navbar-logo" src="{{ asset('img/logo-hypnos-simple.png') }}">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav ">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Nos Hotel</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Qui sommes nous ?</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <!--=================================================-->
    <!--==========| I N C L U D E S |====================-->
    <!--=================================================-->


        {% block body %}{% endblock %}

    <!--=================================================-->
    <!--==========| F O O T E R |========================-->
    <!--=================================================-->

    <footer class="footer">
        <div class="footer-social">
            <!-- Pensez a mettre les lien sociaux -->
            <a href="https://www.facebook.com/"><img class="footer-social-logo" src="{{ asset('img/fb-wte.png') }}" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img class="footer-social-logo" src="{{ asset('img/insta-wte.png') }}" alt="instagram"></a>
        </div>
        <h2 class="footer-title">HYPNOS HOTELS</h2>
        <p class="footer-description">Love in a Haven</p>
        <p class="footer-adress">666 rue de la bête<br>23000 Pluloin-Yarien</p>
        <p class="footer-tel">+33 (0) 7 93 43 20 05</p>

        <p class="footer-copyright">&copy; 2022 Hypnos group</p>
    </footer>

    <!--=================================================-->
    <!--==========| S C R I P T S |======================-->
    <!--=================================================-->

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

    </body>
</html>
